In [12]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.0.3'

In [3]:
df=pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
len(df.columns)

10

In [5]:
df.columns[df.isnull().any()].tolist()

['total_bedrooms']

In [6]:
len(df.ocean_proximity.unique())

5

In [7]:
tmp=df[df['ocean_proximity']=="NEAR BAY"]
tmp.median_house_value.mean()

259212.31179039303

In [8]:
print(f"Average before fillna of total bedrooms:{df.total_bedrooms.mean()} ")

Average before fillna of total bedrooms:537.8705525375618

In [9]:
df['total_bedrooms'].fillna(df['total_bedrooms'].mean(), inplace=True)

In [10]:
print(f"Average after fillna of total bedrooms:{df.total_bedrooms.mean()} ")

Average after fillna of total bedrooms:537.8705525375617

# Linear Regression

In [11]:
df=pd.read_csv('housing.csv')
df=df[df['ocean_proximity']=='ISLAND']
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [14]:
X=df[['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()

In [16]:
XTX=np.dot(X.T, X)

In [18]:
XTX_inv=np.linalg.inv(XTX)

In [19]:
y = np.array([950, 1300, 800, 1000, 1300])

In [20]:
w = np.dot(np.dot(XTX_inv, X.T), y)

In [21]:
w

array([23.12330961, -1.48124183,  5.69922946])